<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Byte Authentication </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #050a30;
        }

        .full-height {
            height: 100vh;
        }

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .card {
            padding: 20px;
        }
    </style>
</head>

<body>